body {
    background-color: #D5C6E0;
    color: #270722;
    text-align: center;
    font-size: 20px;
  }

  h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
  }

  footer{
      font-size: 10px;
  }