body {
    /* background-color: #D5C6E0; */
    background-image: url("picture.jpg");
    background-repeat: none;
    background-size: 100%;
    color: #270722;
    text-align: center;
    font-size: 16px;
    font-family: 'Nanum Myeongjo', serif;
  }

  h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
  }

  footer{
      font-size: 10px;
  }