:root {
    --background: rgb(206, 236, 253);
    --text: rgb(17, 37, 64);
  }

body{
color: var(--text)
}

h1{
    font-size: 40px;
    color: black;
}

p{
    padding: 60px;
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 20px;
    align-items: baseline;
    margin-bottom: 20px;
  }

  .container{
    padding: 0;
    text-align: left;

  }